.canvas-size-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  input,
  p,
  button {
    margin: 0 5px;
  }
  p {
    white-space: nowrap;
    font-weight: 700;
  }
}
